@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

:root{
    --primary-color:#348f94;
    --secondary-color:#1b4965;
    --accent1-color:#96c3cc;
    --accent2-color:#62939f31;

    --heading-font: " Crimson+Text", serif;
    --paragraph-font:  "Merienda" , serif;

    --nav-background-color: #1b4965;
    --nav-link-color: #edffcac2;
    --nav-hover-link-color: #5fa8d3;
    --nav-hover-background-color: #bee9e8;
}


header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
    justify-content: flex-end;
    justify-items: right;
    background-color: #e8b091;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 100px;
    height: auto;
}
header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;   
}
h1 {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    text-align: center;
    float: right;
}
.navigation {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.navigation a {
    display: grid;
    color: navy;
    padding: 30px;
    text-decoration: none;
}
.navigation a:hover {
    color:rgb(190, 225, 227);
    font-weight:700;
    text-decoration: none;
}
main{
    display: block;
    max-width: 100%;
}
.history{
    text-align: start;
    position: relative;
    grid-row: 1;
    grid-column: 1;
}
h2{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.history img {
    width: 200px;
    height: auto;
    display: inline-block;
    float: left;
    
 }
    

.history p {
    display: inline-block;
    max-width: calc(100% - 284px);
    
  }

.adventure {
    display: block;

}
.awaits{
    display: flex;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

  
 

section {
    display: block;
}
section img {
    
    display: block;
    margin: 10px;
}
section p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}


.div  {
    width: 100%;
    height: 400px;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 400px;
    
    
}
h1 {
    position: absolute;
    width: 100%;
    top: 25%;
    text-align: center;
    color: white;
    background-color: rgb(3, 54, 54);
    opacity: 0.6;
}

article {
    position: absolute;
    width: 50em;
    text-align: center;
    background-color:  rgb(3, 54, 54);
    opacity: .6;
   
    top: 60%;
    left: 700px;
    transform: translate(-50%, -50%);
    height: 160px;
    max-width: 100%;

}
article img {
    float: right;
    height: 130px;
    width: 200px;
    padding: 5px;
    margin: 10px;
   
    
   
}
article p {
    text-align: left;
    text-align: justify;
    padding-left: 10px;
    color: white ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    margin: 25px;
    padding: 25px;
    display: flex;
    border-bottom: 1px solid #96c6d9;
    background-color:  #e8b091;;
    max-width: 100%;
    height: 100px;
    justify-content: space-around;
    text-align: center;

}
footer p {
    padding: 25px;
    margin: 25px;
    text-align: center;
    float: center;
    font-size: 28px;
    
   
}
footer nav{
    float: right;
    padding: 25px;
    margin: 25px;
    
}
body{
    background-color: #e6f2f3;
}
/*Week 05 */

form {
    width: 600px;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap : .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: rgb(87, 3, 9);
    font-size: 1.3em;
}
label, input, button, select, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    font-size: 1.1rem;
    padding: 0.5rem;

}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    background-color: rgb(87, 3, 9);
    color: #fff;
    border: none;
    border-radius: 5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: #e8b091

}
.week05 {
    display: flex;
    padding: 15px;
    margin: 15px;
    justify-content: space-between;
   
    
}
.joinus{
    width: 600px;
    margin: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 100) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    main{
        text-align: center;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}