@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    background: #fff;
}
header {
    margin: 0 auto;
    width: 650px;
}
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: rgb(93, 4, 18);
    text-align: center;
}
form {
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap : .6rem;
    margin: 2rem;
    border: none;
    padding: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
    
   
   
 
}
.margin{
    width: 300px;
    height: 42px;
    vertical-align: bottom;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: black;
    color: #fff;
    text-align: center;
    

}

label, input, button, select, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    font-size: 1.1rem;
    padding: 0.5rem;

}
input[type="checkbox"] {
    width: 500px;
    height: 42px;
    vertical-align: bottom;
}
input[type="text"] {
    width: 500px;
    height: 42px;
    vertical-align: bottom;
}


textarea{
    width: 500px;
    height: 95px;
    vertical-align: bottom;

}
button {
    margin: 1rem;
    background-color:  rgb(93, 4, 18);
    color: #fff;
    border: none;
    border-radius: 5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
select{
    width: 500px;
    height: 42px;
    vertical-align: bottom;

}
button:hover {
    background-color: rgb(6, 106, 99);

}
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}
.form-iterm {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin:0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
